section.top.sec-slide
    h3.text-left Testes de Aceitação
    p.text-left.middle.
        O teste de aceitação é realizado com o propósito de avaliar a qualidade externa do produto e, na medida do possível, também a qualidade em uso.

    ul
        li.fragment Valide <strong>apenas</strong> o fluxo de funcionamento do projeto.

