section.top.sec-slide
    h3.text-left Boas práticas nos testes

    ul.list-left
        li.fragment Evite testes muito grandes.
        li.fragment Teste um comportamento por vez.
        li.fragment Cuidado para não criar um teste inútil.
        li.fragment Crie Mocks de serviços externos.
        li.fragment Escolhas os asserts devidos.