section.top.sec-slide
    h3.text-left Escrita do código - métodos

    ul.list-left
        li.fragment Devem ser pequenos.
        li.fragment Possuir uma única responsabilidade.
        li.fragment Permitir reuso.
        li.fragment Fácilmente testáveis.