section.top.sec-slide
    h3.text-left Testes de Integração

    p(style="margin-top:50px").text-left.
        É um teste para validar se os componentes estão funcionando em conjunto.

    ul.list-left
        li.fragment Cuidado para não criar um teste inútil.
        li.fragment Isole o máximo possível dos ambientes.