section.top.sec-slide
    h3.text-left Escrita do código - variáveis

    ul.list-left
        li.fragment Utilize nomes semânticos. - <span>Nada de variável "a"</span>
        li.fragment Nomes fáceis de escrever e ler. - <span>Muito menos "xkttfjzyal"</span>
        li.fragment Use substantivos para classes e objetos. - <span>User, Product</span>
        li.fragment Use verbos para métodos. - <span>getUser, deleteProduct</span>