section.top.sec-slide
    h3.text-left Fluxo do teste

    ol.list-left
        li.fragment Escrever o teste
        li.fragment Escrever o c칩digo para o teste passar
        li.fragment Escrever um segundo caso de teste
        li.fragment Corrigir o c칩digo para que passe
        li.fragment Escrever um terceiro caso de teste (se necess치rio)
        li.fragment Refatorar o c칩digo
