section.top.sec-slide
    h2.text-left Transição

    ul.list-left
        li.fragment Portabilidade - <span>Consigo movê-lo facilmente?</span>
        li.fragment Reusabilidade - <span>Posso utilizar parte dele?</span>
        li.fragment Interoperabilidade - <span>Ele trabalha com outros sofwares em conjunto?</span>