section.top.sec-slide
    h2.text-left Operação

    ul.list-left
        li.fragment Corretitude - <span>Ele faz o que foi pedido?</span>
        li.fragment Confiabilidade - <span>Ele é preciso?</span>
        li.fragment Eficiência - <span>Ele tem boa performance?</span>
        li.fragment Integridade - <span>Oferece segurança?</span>
        li.fragment Usabilidade - <span>Fácil de usar?</span>
        li.fragment Adaptabilidade - <span>Ele se adapta as necessidades do usuário?</span>