section.top.sec-slide
    h2.text-left Revisão

    ul.list-left
        li.fragment Manutenibilidade - <span>Fácil de corrigir?</span>
        li.fragment Flexibilidade - <span>Fácil de mudar?</span>
        li.fragment Testabilidade - <span>Posso testar seu funcionamento?</span>