section.top.sec-slide
    h3.text-left Microtests

    p(style="margin-top:50px").text-left.
        Um microteste é um simples e pequeno teste automatizado que prova o comportamento
        de um único método.

    ul.list-left
        li.fragment Evite ruído entre os testes (Isolamento).
        li.fragment Escolha os melhores asserts para cada momento.
        li.fragment Procure usar Mocks para chamadas externas.
        li.fragment Utilize dele para organizar o design de seu código.