section.top.sec-slide
    h3.text-left Mocks
    p.text-left.middle.
        Mocks são métodos falsos (similares aos spies) com comportamento pré-programado (similar ao stub) e respostas/expectations pré-programados.
    
