section.top.sec-slide
    h3.text-left O que testar?
    p.text-left.
        Teste <strong>apenas</strong> o caminho crítico do negócio.
    ul.list-left
        li.fragment Cadastro de usuários.
        li.fragment Definição de permissões.
        li.fragment Pipeline de pagamentos.