section.top.sec-slide
    h3.text-left Padrão do teste
    
    p.fragment.mt-100 "Ele deve fazer isso quando aquilo"
    p.fragment "It should do that when this"

    pre.fragment
        code.
            it('should return 4 when receive 2,2') {
                expect(sum(2,2)).to.equal(4);
            }
