section.top.sec-slide
    h3.text-left Pensando como testar

    ul.list-left
        li.fragment O que o código precisa fazer?
        li.fragment Que dados ele recebe?
        li.fragment Que dados ele precisa retornar?
        li.fragment Que ações precisam acontecer para o código rodar?
