section.top.sec-slide
    h3.text-left Por que testar?

    ul.list-left
        li.fragment Ajuda a encontrar bugs.
        li.fragment Facilita refatoração.
        li.fragment Gera documentação.
        li.fragment Melhora o design do código.
        li.fragment Garante que o trabalho tenha qualidade.