section.top.sec-slide(data-background='img/visao-cliente.gif')
    h2.text-left.white.shadow Visão do cliente

    ul.list.shadow.white
        li.fragment Bonito
        li.fragment Tudo Funcionando
        li.fragment Barato