section.top.sec-slide(data-background='img/visao-chefe.gif')
    h2.text-left.white.shadow Visão do chefe

    ul.list.white
        li.fragment.shadow Não demora muito
        li.fragment.shadow Gera lucros
        li.fragment.shadow Cliente feliz