section.top.sec-slide
    h3.text-left Spies
    p.text-left.middle.
        Como o nome sugere, spies são usados para vigiar informações sobre chamadas de funções (métodos). Um spy vai nos dizer se o método foi chamado, quantas vezes, quais argumentos foram passados, etc.
    
