section.top.sec-slide
    h3.text-left Stubs
    p.text-left.middle.
        Stubs são como os spies, exceto por eles substituirem a função alvo. Podendo inclusive mudar o comportamento, assim como os valores e exceções levantadas. 

