section.top.sec-slide
    h3.text-left Quando usar stubs?

    ul.list-left
        li.fragment Controlar comportamento de um teste. Ex.: forçar uma exceção
        li.fragment "Pular" uma parte não necessária do código. Ex.: execução de db
        li.fragment Simplificar o teste de código assíncrono

