doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/titulo
                include ../slides/o-que-e-qualidade
                include ../slides/qualidade-visao-cliente
                include ../slides/qualidade-visao-chefe
                include ../slides/qualidade-visao-programador
                include ../slides/fatores-qualidade
                include ../slides/mccall-operacao
                include ../slides/mccall-transicao
                include ../slides/mccall-revisao
                include ../slides/como-atingir-fatores
                include ../slides/bom-senso
                include ../slides/escrita-codigo
                include ../slides/codigo-metodos
                include ../slides/codigo-comentarios
                include ../slides/escoteiro
                include ../slides/faca-direito
                include ../slides/faca-testes
                //- include ../slides/por-que-testar
                //- include ../slides/tdd
                //- include ../slides/micro-tests
                //- include ../slides/e2e-tests
                //- include ../slides/aceitacao-tests
                //- include ../slides/baby-steps
                //- include ../slides/obrigado
        include inc/scripts
