/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/white"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/zenburn"

main = #0562dc

.white
    color white !important
.green
    color green
.red
    color red
.yellow
    color #D0D000
.black
    color black !important
.main
    color main !important
defs
    display block

.reveal
    .backgrounds
        background #fff
    img,video
        max-width 100%
    pre
        width 100%
        line-height 1.5em
        margin-top 50px
        font-size 0.5em
    .block
        display: table
        background: main
        padding 5px 15px
        color white
    .bigger
        font-size 4em
    .lighter
        font-weight 300
    .text-left
        text-align left
    .text-right
        text-align right
    .text-center
        text-align: center
        margin auto
    .top
        top 0 !important
    .bottom
        margin-top: 600px
    .middle
        margin-top: 100px
    .sec-slide
        h1,h2,h3,h4,.text
            color main
            font-weight 800
        hr
            border-color main
    .center
        text-align center
        display block
        margin auto
    .more
        font-size .8em
    ul
        margin-top 30px
        li
            font-size .9em
            line-height 2em
            
    .list
        display block
        margin-top 40px
        li
            font-size 1.4em
            font-weight 600
            
    .list-left
        display block
        margin-top 60px
        li
            font-size 1em
            span
                font-size .6em
                color #555
            
    .col-3
        display: inline-block
        width 22%
        text-align: center
        margin 90px 40px
    .link-hover
        color white
        &:hover
            color #6ca2e8
    .shadow
        text-shadow: 2px 2px 15px #000;
        
.rounded
    border-radius 50%

.globo-logo
    width 180px

.bold
    font-weight 800 !important